@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: '';
  }

  /* The capsize utilities are used to fix the extra height built into the United Sans
  brand font. Without these, it's virtually impossible to make United Sans appear
  vertically centered inside its container. See https://seek-oss.github.io/capsize/  */
  .capsize-lg::before {
    content: '';
    margin-bottom: -0.3478em;
    display: table;
  }

  .capsize-lg::after {
    content: '';
    margin-top: -0.5178em;
    display: table;
  }

  .capsize-xl::before {
    content: '';
    margin-bottom: -0.27em;
    display: table;
  }

  .capsize-xl::after {
    content: '';
    margin-top: -0.44em;
    display: table;
  }

  .capsize-2xl::before {
    content: '';
    margin-bottom: -0.2367em;
    display: table;
  }

  .capsize-2xl::after {
    content: '';
    margin-top: -0.4067em;
    display: table;
  }

  .capsize-3xl::before {
    content: '';
    margin-bottom: -0.17em;
    display: table;
  }

  .capsize-3xl::after {
    content: '';
    margin-top: -0.34em;
    display: table;
  }

  .capsize-4xl::before {
    content: '';
    margin-bottom: -0.1256em;
    display: table;
  }

  .capsize-4xl::after {
    content: '';
    margin-top: -0.2956em;
    display: table;
  }

  .capsize-5xl::before {
    content: '';
    margin-bottom: -0.07em;
    display: table;
  }

  .capsize-5xl::after {
    content: '';
    margin-top: -0.24em;
    display: table;
  }
}
